# Never push bytecode to the repository.
*.class
/round2/mean/target/
/round3/median/target/
/round3/parameters/target/
/round4/sudoku/target/
/round4/studentregister/target/
/round5/datetime/target/
